.App {
  text-align: center;
}

.container {
  height: 100vh;
  position: relative;
}

button {
  position: absolute;
  right: 20px;
}

.card {
  width: 40vw;
  margin: 0;
  position: absolute;
  bottom: 50%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.background-weather {
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 45%;
}

.card-body {
  background-image: linear-gradient(45deg, #56cdcd, #a3cd56, #cda156, #ca3c3c);
  font-size: 1.8em;
  font-family: serif;
  border-radius: 5px;
}

@media (max-width: 560px) {
  .card {
    width: 95vw;
  }
  .card-body {
    font-size: 0.9em;
  }
}

@media (min-width: 561px) and (max-width: 992px) {
  .card {
    width: 75vw;
  }

  .card-body {
    font-size: 1.4em;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .card {
    width: 60vw;
  }
}
